<h3>this notebook will be mainly used for the capstone project.</h3>

download table data using pd.read_html. this is simple example and hence beautifullsoup is not required to read data

In [1]:
import pandas as pd
import numpy as np
#!pip install lxml
#!python -m pip install --upgrade pip
#!pip install html5lib
#!pip install BeautifulSoup4

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, attrs={'class': 'wikitable'})

remove not assigned Borough, update not assined neighbourhood equal to borough,

In [135]:
df1 = pd.DataFrame(df[0][df[0].Borough != 'Not assigned'])
df1.loc[df1.Neighbourhood == 'Not assigned','Neighbourhood'] = df1.loc[df1.Neighbourhood == 'Not assigned'].Borough
#df1.groupby(['Postcode','Borough'])['Neighbourhood'].value_counts()
#df1.shape
#df1.loc[df1.Neighbourhood == 'Not assigned']
df1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

generate csv of neighbourhood rows that have same postal code and create a new dataframe df2

In [140]:

d = {}
e={}
f={}
for i in df1['Postcode'].unique():
    d[i] = format(",".join([df1['Neighbourhood'][j] for j in df1[df1['Postcode']==i].index]))
    f[i]=i
for i in df1['Postcode'].unique():
    e[i] = list(set([df1['Borough'][j] for j in df1[df1['Postcode']==i].index]))[0]
    #e[i] = format(",".join([df1['Borough'][j] for j in df1[df1['Postcode']==i].index]))
df2=pd.DataFrame({"PostCode":f,"Borough":e,"Neighbourhood":d})
#for key, value in e.items():
    #df2['Postcode'] = key
    #df2['Borough'] = e[key]
    #df2['Neighbourhood'] = format(",".join(value))
    #print(key,format(",".join(value)))
df2.head(10)

    PostCode      Borough                                  Neighbourhood
M1B      M1B  Scarborough                                  Rouge,Malvern
M1C      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
M1E      M1E  Scarborough                Guildwood,Morningside,West Hill
M1G      M1G  Scarborough                                         Woburn
M1H      M1H  Scarborough                                      Cedarbrae
M1J      M1J  Scarborough                            Scarborough Village
M1K      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
M1L      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
M1M      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
M1N      M1N  Scarborough                     Birch Cliff,Cliffside West

In [141]:
df2.reset_index()
df2.shape

(103, 3)

import geospacil coordinates as issue with online read

In [143]:
gs_df=pd.read_csv("Geospatial_Coordinates.csv")
gs_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [144]:
df_merged = pd.merge(df2, gs_df, left_on=['PostCode'],
              right_on=['Postal Code'],
              how='left')
df_merged.shape

(103, 6)

In [147]:
df_merged.drop(['Postal Code'], axis = 1,inplace=True)
df_merged.head()

,PostCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476